@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

// typography

.barlow-semi-condensed-medium {
  font-family: vars.$font-main;
  font-weight: vars.$font-weight-medium;
}

.barlow-semi-condensed-semibold {
  font-family: vars.$font-main;
  font-weight: vars.$font-weight-semibold;
}
