@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
}

// typography

.barlow-medium {
  font-family: vars.$font-main;
  font-weight: vars.$font-weight-medium;
}

.barlow-semibold {
  font-family: vars.$font-main;
  font-weight: vars.$font-weight-semibold;
}

.container {
  background-color: vars.$grey-100;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
