// colors

$purple-50: hsl(260, 100%, 95%);
$purple-300: hsl(264, 82%, 80%);
$purple-500: hsl(263, 55%, 52%);
$white: hsl(0, 0%, 100%);
$grey-100: hsl(214, 17%, 92%);
$grey-200: hsl(0, 0%, 81%);
$grey-400: hsl(224, 10%, 45%);
$grey-500: hsl(217, 19%, 35%);
$dark-blue: hsl(219, 29%, 14%);
$black: hsl(0, 0%, 7%);

// Fonts

$font-main: 'Barlow Semi Condensed', sans-serif;

// font sizes

//  spacing
$spacing-40: 3.076rem;
$spacing-32: 2.461rem;
$spacing-24: 1.846rem;
$spacing-16: 1.203rem;
$spacing-8: 0.615rem;
$spacing-4: 0.307rem;

// font weights

$font-weight-semibold: 600;
$font-weight-medium: 400;

// line heights

$line-height-140: 1.4;
$line-height-120: 1.2;
$line-height-110: 1.1;
